    *,
    *::before,
    *::after {
        -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
    }

    * {
      margin: 0;
      padding: 0;
      border: 0;
    }

    h1, h2, h3, h4, h5, h6, p, a, li {
      color: black;
      list-style-type: none;
    }

    span {
      font-style: italic;
      text-decoration: underline;
    }

    body {
      background-color: #47474727;
      font-family: 'Roboto Slab', serif;
      font-size: 30px;
      text-align: center;
    }

    div {
      margin: 20px 0;
    }

    #name {
      text-shadow: 0 1px 0.5px rgba(185, 133, 133, 0.979), 0 -1px 0.5px rgba(185, 133, 133, 0.979);
    }

    nav {
      background-color: whitesmoke;
      padding: 20px;
      box-shadow: 0 10px 20px #47474727, 0 -10px 20px #47474727;
    }

    nav a {
      text-decoration-line: none;
      margin: 50px;
      text-transform: uppercase;
    }

    .active{
      color: rgba(0, 0, 0, 0.658);
      text-shadow: 0 1px 0.5px rgba(185, 133, 133, 0.979), 0 -1px 0.5px rgba(185, 133, 133, 0.979);
    }

    a:hover {
      color: rgba(0, 0, 0, 0.658);
    }

    /* About */

    #about{
      display: flex;
      text-align: left;
    }

    .about {
      margin: 50px;
    }

    #personal {
      max-width: 180px;
      border-radius: 100%;
      border-width: 1px;
      border-style: solid;
      border-color:#272727;
      transform: scaleX(-1);
    }

    #list {
      display: flex;
      font-style: italic;
    }

    .list {
      margin: 0 auto;
    }

    #projects {
      max-width: 800px;
    }

    #article {
      max-width: 300px;
      font-size: 22px;
      margin-right: 100px;
      background-color: rgba(255, 255, 255, 0.521);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 10px 20px #47474727, 0 -10px 20px #47474727;
    }

    /* More */

    table, tr {
      width: 800px;
      border: solid;
      table-layout: fixed;
      border-color: black;
      border-radius: 10px;
      margin: 20px auto;
      background-color: rgba(255, 255, 255, 0.521);
      box-shadow: 0 10px 20px #47474727, 0 -10px 20px #47474727;
    }

    #video1, #video2 {
      display:inline-block
    }

    /* Contact */

    #contact a {
      margin: 20px;
    }

    #contact img {
      width: 40px;
    }

    form {
      background-color: rgba(255, 255, 255, 0.521);
      max-width: 700px;
      margin: 10px auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 10px 20px #47474727, 0 -10px 20px #47474727;
    }

    .label{
      text-align: start;
      margin: 10px 30px;
    }

    input, textarea {
      width: 90%;
      border-radius: 4px;
    }

    input{
      height: 35px;
    }

    textarea {
      height: 130px;
    }

    #submit {
      background-color: white;
      border-color: black;
      border-style: solid;
      border-width: 2px;
      text-transform: uppercase;
      font-family: 'Roboto Slab';
      font-weight: 600;
    }

    #submit:hover{
      color: white;
      background-color: #272727;
      transition: 0.2s background-color linear, 0.1s color linear;
    }